:root {
    /* Highlights */
    --scheme-1: #000000;
    --scheme-2: #707070;
    --scheme-3: #F0F0F0;
    --scheme-4: #363636;
    --scheme-5: #D6D6D6;
    
    /* Metro Colors */
    --metro-1: #99b433;
    --metro-2: #00a300;
    --metro-3: #1e7145;
    --metro-4: #ff0097;
    --metro-5: #9f00a7;
    --metro-6: #7e3878;
    --metro-7: #603cba;
    --metro-8: #1d1d1d;
    --metro-9: #00aba9;
    --metro-10: #eff4ff;
    --metro-11: #2d89ef;
    --metro-12: #2b5797;
    --metro-13: #ffc40d;
    --metro-14: #e3a21a;
    --metro-15: #da532c;
    --metro-16: #ee1111;
    --metro-17: #b91d47;
}

* {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
	color: #ffffff;
}

body {
	background-color: var(--scheme-1);
/*    animation: bg-color-switch-rgb 100s infinite;*/
}

a:hover {
	color: black;
}

@keyframes color-switch-rgb {
	0% { box-shadow: 1px 1px 15px var(--metro-1); }
	6% { box-shadow: 1px 1px 15px var(--metro-2); }
	12% { box-shadow: 1px 1px 15px var(--metro-3); }
	18% { box-shadow: 1px 1px 15px var(--metro-4); }
	24% { box-shadow: 1px 1px 15px var(--metro-5); }
	30% { box-shadow: 1px 1px 15px var(--metro-6); }
	36% { box-shadow: 1px 1px 15px var(--metro-7); }
	42% { box-shadow: 1px 1px 15px var(--metro-8); }
	48% { box-shadow: 1px 1px 15px var(--metro-9); }
	54% { box-shadow: 1px 1px 15px var(--metro-10); }
	60% { box-shadow: 1px 1px 15px var(--metro-11); }
	66% { box-shadow: 1px 1px 15px var(--metro-12); }
	72% { box-shadow: 1px 1px 15px var(--metro-13); }
	78% { box-shadow: 1px 1px 15px var(--metro-14); }
	84% { box-shadow: 1px 1px 15px var(--metro-15); }
	90% { box-shadow: 1px 1px 15px var(--metro-16); }
	96% { box-shadow: 1px 1px 15px var(--metro-17); }
	100% { box-shadow: 1px 1px 15px var(--metro-1); }
}

@keyframes text-color-switch-rgb {
	0% { color: var(--metro-1); }
	6% { color: var(--metro-2); }
	12% { color: var(--metro-3); }
	18% { color: var(--metro-4); }
	24% { color: var(--metro-5); }
	30% { color: var(--metro-6); }
	36% { color: var(--metro-7); }
	42% { color: var(--metro-8); }
	48% { color: var(--metro-9); }
	54% { color: var(--metro-10); }
	60% { color: var(--metro-11); }
	66% { color: var(--metro-12); }
	72% { color: var(--metro-13); }
	78% { color: var(--metro-14); }
	84% { color: var(--metro-15); }
	90% { color: var(--metro-16); }
	96% { color: var(--metro-17); }
	100% { color: var(--metro-1); }
}

@keyframes bg-color-switch-rgb {
	0% { background-color: var(--metro-1); }
	6% { background-color: var(--metro-2); }
	12% { background-color: var(--metro-3); }
	18% { background-color: var(--metro-4); }
	24% { background-color: var(--metro-5); }
	30% { background-color: var(--metro-6); }
	36% { background-color: var(--metro-7); }
	42% { background-color: var(--metro-8); }
	48% { background-color: var(--metro-9); }
	54% { background-color: var(--metro-10); }
	60% { background-color: var(--metro-11); }
	66% { background-color: var(--metro-12); }
	72% { background-color: var(--metro-13); }
	78% { background-color: var(--metro-14); }
	84% { background-color: var(--metro-15); }
	90% { background-color: var(--metro-16); }
	96% { background-color: var(--metro-17); }
	100% { background-color: var(--metro-1); }
}

.text-shadow {
    text-shadow: 1px 1px 15px #000000;
}

.color-scheme-1 {
    background-color: var(--scheme-1);
}

.color-scheme-2 {
    background-color: var(--scheme-2);
}

.color-scheme-3 {
    background-color: var(--scheme-3);
}

.color-scheme-4 {
    background-color: var(--scheme-4);
}

.color-scheme-5 {
    background-color: var(--scheme-5);
}

.responsive-text-1 {
    font-size: 1vw;
}

.responsive-text-2 {
    font-size: 2vw;
}

.responsive-text-3 {
    font-size: 3vw;
}

.responsive-text-4 {
    font-size: 4vw;
}

.responsive-text-5 {
    font-size: 5vw;
}

.responsive-text-6 {
    font-size: 6vw;
}

.responsive-text-7 {
    font-size: 7vw;
}

.responsive-text-8 {
    font-size: 8vw;
}

.responsive-text-9 {
    font-size: 9vw;
}

.responsive-text-10 {
    font-size: 10vw;
}

.uniform-height {
	height: 100%;
}

.rgb-text-shadow {
	text-shadow: 1px 1px 15px rgba(0, 0, 0, 1);
}

.rgb-box-shadow {
	animation: color-switch-rgb 100s infinite;
}

.rgb-font-color {
    animation: text-color-switch-rgb 100s infinite;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.mapouter {
	width: 100;
}

.border-curve-all {
    border-radius: 20px;
}

.border-curve-top-right {
    border-top-right-radius: 20px;
}

.border-curve-top-left {
    border-top-left-radius: 20px;
}

.border-curve-bottom-right {
    border-bottom-right-radius: 20px;
}

.border-curve-bottom-left {
    border-bottom-left-radius: 20px;
}

.img-circle {
    border-radius: 50%;
}

.no-border {
    border: 0px;
}

.card {
    border: 0px;
}

.card-header:first-child {
    border-top-right-radius: 20px;
}

.card:hover {
/*    box-shadow: 1px 1px 15px rgba(255, 255, 255, 1);*/
    animation: color-switch-rgb 4s infinite;
}

.nav-item:hover a {
    animation: text-color-switch-rgb 4s infinite;
}

.hobbie-icons {
    width: 250px;
}

.text-justify {
    text-align: justify;
}

#header-area {
	height: 100vh;
	background-image: url('../images/cinematic-shot.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
	display: flex;
	align-items: center;
	margin-bottom: 0;
}

#my-name {
	font-weight: bold;
}

#portfolio {
	margin-bottom: 100px;
}

#contact-area, #about-area {
	margin-top: 70px;
	margin-bottom: 70px;
}

#foot-note {
	margin: 10px;
}

#facebook {
	color: blue;
}

#instagram {
	color: pink;
}

#twitter {
	color: skyblue;
}

#about-photo-card {
	width: 90%;
}

#bio {
	padding: 1em;
	text-align: justify;
}

#gmap_canvas {
	padding: 1em;
	height: 250px;
	width: 100%;
}

#embedded-map {
	margin-top: 1em;
}

#graduation-photo {
    width: 250px;
}