* {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
	color: #ffffff;
}

body {
	background-color: #000000;
}

a:hover {
	text-decoration: none;
}

@keyframes color-switch-rgb {
	0% {
		box-shadow: 1px 1px 15px rgba(255, 0, 0, 1);
	}

	25% {
		box-shadow: 1px 1px 15px rgba(0, 255, 0, 1);
	}

	50% {
		box-shadow: 1px 1px 15px rgba(0, 0, 255, 1);
	}

	75% {
		box-shadow: 1px 1px 15px rgba(255, 255, 255, 1);
	}

	100% {
		box-shadow: 1px 1px 15px rgba(255, 0, 0, 1);
	}
}

.card {
	height: 100%;
}

.text-shadow {
	/*animation: color-switch-rgb 10s infinite*/
	text-shadow: 1px 1px 15px rgba(0, 0, 0, 1);
}

.box-shadow {
	animation: color-switch-rgb 20s infinite
	/*box-shadow: 1px 1px 10px #05F2C7;*/
}

.bg-black {
	background-color: #000000;
}

.outer-glow {
	animation: color-switch-rgb 20s infinite
	/*box-shadow: 1px 1px 10px #05F2C7;*/
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

#header-area {
	height: 100vh;
	background-image: url('../images/wayne.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	margin-bottom: 0;
}

#my-name {
	font-weight: bold;
}

#portfolio {
	margin-bottom: 100px;
}

#contact-area, #about-area {
	margin-top: 70px;
	margin-bottom: 70px;
}

#foot-note {
	margin: 10px;
}

#facebook {
	color: blue;
}

#instagram {
	color: pink;
}

#twitter {
	color: skyblue;
}

#about-photo-card {
	width: 90%;
}

#bio {
	padding: 1em;
	text-align: justify;
}

.mapouter {
	width: 100;
}

#gmap_canvas {
	padding: 1em;
	height: 250px;
	width: 100%;
}

#embedded-map {
	margin-top: 1em;
}